<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jbpm="http://drools.org/schema/drools-spring"       
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://drools.org/schema/drools-spring org/drools/container/spring/drools-spring-1.5.0.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:tcp://localhost/~/jbpm-db"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>
    
    <bean id="entityManagerFactory" class="org.jbpm.SeamManagedEntityManagerFactoryBean">
        <property name="persistenceContextName" value="entityManager" /> 
    </bean> 
    
    <bean id="springEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="org.jbpm.persistence.jpa.local"/>
    </bean>

    <bean id="jbpmTxManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="nestedTransactionAllowed" value="false"/>
    </bean>
 
    <jbpm:kbase id="kbase">
        <jbpm:resources>
            <jbpm:resource type="BPMN2" source="classpath:sample.bpmn"/>
        </jbpm:resources>
    </jbpm:kbase>

</beans>
